html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: hidden;
}

a {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: white;
  overflow-y: scroll;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  body {
    padding-top: 50px;
  }
}

.gallery {
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-areas: "tommy-crew tommy-crew" "melwinter-crew melwinter-crew" "adidas-jacket reebok-jacket" "adidas-jacket reebok-jacket" "adidas-tee adidas-tee" "nike-jacket marvel-tee";
}
.gallery .item {
  width: 100%;
  height: 100%;
}
.gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .item--tommy-crew {
  grid-area: tommy-crew;
}
.gallery .item--tommy-crew img {
  object-position: 50% 14%;
}
.gallery .item--adidas-jacket {
  grid-area: adidas-jacket;
}
.gallery .item--adidas-jacket img {
  object-position: 35% 15%;
}
.gallery .item--adidas-tee {
  grid-area: adidas-tee;
}
.gallery .item--reebok-jacket {
  grid-area: reebok-jacket;
}
.gallery .item--melwinter-crew {
  grid-area: melwinter-crew;
}
.gallery .item--nike-jacket {
  grid-area: nike-jacket;
}
.gallery .item--marvel-tee {
  grid-area: marvel-tee;
}
.gallery .item--marvel-tee img {
  object-position: 90% 0;
}

.banner {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  max-width: 1000px;
  display: flex;
  background-color: white;
}
@media (min-width: 1000px) {
  .banner {
    left: calc((100vw - 1000px) / 2);
  }
}
.banner__circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -187px;
  top: -128px;
}
.banner__human {
  position: absolute;
  left: -45px;
  bottom: 0;
  width: 150px;
  bottom: -25px;
}
@keyframes cycle-colors-normal {
  0% {
    fill: #eb3c24;
  }
  25% {
    fill: #493843;
  }
  50% {
    fill: #dd7373;
  }
  75% {
    fill: #235789;
  }
  100% {
    fill: #262626;
  }
}
@keyframes cycle-colors-darkened {
  0% {
    fill: #ca2912;
  }
  25% {
    fill: #2c2229;
  }
  50% {
    fill: #d34a4a;
  }
  75% {
    fill: #193d60;
  }
  100% {
    fill: #0d0d0d;
  }
}
.banner__human__coat--front {
  animation: cycle-colors-normal 5s infinite;
  animation-timing-function: steps(1, end);
}
.banner__human__coat--back {
  animation: cycle-colors-darkened 5s infinite;
  animation-timing-function: steps(1, end);
}
.banner__human__shorts--front {
  animation: cycle-colors-normal 5s infinite;
  animation-timing-function: steps(1, end);
  animation-delay: 2s;
}
.banner__human__shorts--back {
  animation: cycle-colors-darkened 5s infinite;
  animation-timing-function: steps(1, end);
  animation-delay: 2s;
}
.banner__actions {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 112px;
  justify-content: space-evenly;
}
.banner__actions__link {
  border-radius: 5px;
  padding: 5px 10px;
}
.banner__actions__link:hover {
  background: #f7f7f7;
}
.banner__actions__link:active {
  background: #f2f2f2;
}
.banner__actions__link--depop img {
  display: block;
  width: 75px;
}
.banner__actions__link--etsy img {
  display: block;
  width: 47px;
}
.banner__actions__link--instagram img {
  display: block;
  width: 18px;
}

/*# sourceMappingURL=styles.css.map */
