$max-content-width: 1000px;
$banner-height: 60px;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  overflow: hidden;
}

a {
  // remove grey tap highlight on mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

body {
  background-color: white;
  overflow-y: scroll;
  // momentum scrolling for touch devices
  -webkit-overflow-scrolling: touch;
  padding-bottom: $banner-height;
  // top padding to match banner for screens w/ visible side padding
  @media (min-width: $max-content-width) {
    padding-top: $banner-height;
  }
  display: flex;
  flex-direction: column;
}

.gallery {
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  max-width: $max-content-width;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-areas:
    'tommy-crew tommy-crew'
    'melwinter-crew melwinter-crew'
    'tommy-vest tommy-vest'
    'adidas-jacket reebok-jacket'
    'adidas-jacket reebok-jacket'
    'adidas-tee adidas-tee'
    'nike-jacket marvel-tee';

  .item {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // use object-position so responsive images maintain focal point
    &--tommy-crew {
      grid-area: tommy-crew;
      img {
        object-position: 50% 14%;
      }
    }
    &--adidas-jacket {
      grid-area: adidas-jacket;
      img {
        object-position: 35% 15%;
      }
    }
    &--tommy-vest {
      grid-area: tommy-vest;
    }
    &--adidas-tee {
      grid-area: adidas-tee;
    }
    &--reebok-jacket {
      grid-area: reebok-jacket;
    }
    &--melwinter-crew {
      grid-area: melwinter-crew;
    }
    &--nike-jacket {
      grid-area: nike-jacket;
    }
    &--marvel-tee {
      grid-area: marvel-tee;
      img {
        object-position: 90% 0;
      }
    }
  }
}

.banner {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $banner-height;
  max-width: $max-content-width;
  // for larger screens that hit max content width, fix the buttons to the edge of the content
  @media (min-width: $max-content-width) {
    left: calc((100vw - #{$max-content-width}) / 2);
  }
  display: flex;
  background-color: white;

  &__circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -187px;
    top: -128px;
  }
  &__human {
    position: absolute;
    left: -45px;
    bottom: 0;
    width: 150px;
    bottom: -25px;

    // clothing colors to cycle through
    $cg-red: #eb3c24;
    $dark-puce: #493843;
    $tango-pink: #dd7373;
    $bdazzled-blue: #235789;
    $raisin-black: #262626;

    @mixin define-cycle-color-keyframe($keyframe-name, $percentage: 0%) {
      // keyframes need to be pre-defined so use a dynamic name
      @keyframes #{$keyframe-name} {
        0% {
          fill: darken($cg-red, $percentage);
        }
        25% {
          fill: darken($dark-puce, $percentage);
        }
        50% {
          fill: darken($tango-pink, $percentage);
        }
        75% {
          fill: darken($bdazzled-blue, $percentage);
        }
        100% {
          fill: darken($raisin-black, $percentage);
        }
      }
    }

    @include define-cycle-color-keyframe(cycle-colors-normal);
    @include define-cycle-color-keyframe(cycle-colors-darkened, 10%);

    @mixin use-cycle-color-animation($keyframe-name) {
      animation: $keyframe-name 5s infinite;
      animation-timing-function: steps(1, end);
    }

    &__coat {
      &--front {
        @include use-cycle-color-animation(cycle-colors-normal);
      }
      &--back {
        @include use-cycle-color-animation(cycle-colors-darkened);
      }
    }
    &__shorts {
      &--front {
        @include use-cycle-color-animation(cycle-colors-normal);
        animation-delay: 2s;
      }
      &--back {
        @include use-cycle-color-animation(cycle-colors-darkened);
        animation-delay: 2s;
      }
    }
  }
  &__actions {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 112px;
    &__shop-now {
      flex: 1 0;
      font-size: 13px;
      text-align: right;
      padding-right: 15px;
      min-width: fit-content;
    }
    &__link {
      border-radius: 5px;
      padding: 0 10px;
      height: calc(0.65 * #{$banner-height});
      display: flex;
      align-items: center;
      &:hover {
        background: darken(white, 3%);
      }
      &:active {
        background: darken(white, 5%);
      }
      &--depop {
        img {
          display: block;
          width: 100%;
          max-width: 75px;
        }
      }
      &--etsy {
        img {
          display: block;
          width: 100%;
          max-width: 47px;
        }
      }
      &--instagram {
        img {
          display: block;
          width: 100%;
          max-width: 18px;
        }
      }
    }
  }
}
